@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --primary-color: #600D0D;
    --secondary-color:#F7F3E3;
    --accent1-color: #32343B;
    --accent2-color: #0F1011;
    --heading-font: "Charm", cursive;
    --paragraph-font: "Mulish", cursive;
}

body{
    margin: 0 auto;
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
}

.lock{
    overflow: hidden;
}

h1,h2,h3,h4{
    font-family: var(--heading-font);
}

img{
    width: 100%;
}

.viewer{
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    grid-template-rows: 33% 34% 33%;
 }

.close-viewer{
    margin-left: auto;
    width: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
}

#document{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    display: grid;
    color: var(--accent1-color);
}

#document img{
    width: 90%;
    margin: 0 auto;
}

#document h3{
    text-align: center;
    color: var(--primary-color);
}

#document h4{
    margin: 20px;
    margin-bottom: 10px;
}

header{
    background-color: var(--secondary-color);
    padding-bottom: 30px;
    justify-items: center;
}

.logo{
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav a{
    transition: 0.25s;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}

nav a:hover{
    transition: 0.25s;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

.currentPage{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.currentPage:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main{
    padding: 20px;
}

#banner{
    color: var(--secondary-color);
    text-align: center;
}

#banner h1{
    font-size: 2.25rem;
}

#banner h2{
    font-size: 1.25rem;
}

#search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    margin: 0 auto 20px auto;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    box-shadow: 0px 0px 18px rgb(31, 1, 1);
}

#searchBar{
    padding-left: 4px;
    margin: 16px 0px 16px 20px;
    grid-row: 1/2;
    grid-column: 1/4;
    border: 1px solid var(--accent1-color);
    border-radius: 8px 0px 0px 8px;
}

#search button:nth-child(2){
    grid-row: 1/2;
    background-color: var(--accent1-color);
    border: none;
    border-radius: 0px 8px 8px 0px;
    margin: 16px 20px 16px 0px;
}

.filterButton{
    padding-top: 8px;
    padding-bottom: 8px;
    grid-column: 1/5;
    grid-row: 2/3;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-top: 1px solid var(--accent2-color);
    font-size: 1rem;
    transition: 0.25s; 
}

.filterActive{
    padding-top: 8px;
    padding-bottom: 8px;
    grid-column: 1/5;
    grid-row: 2/3;
    color: var(--secondary-color);
    background-color: var(--accent2-color);
    border: none;
    border-top: 1px solid var(--accent2-color);
    font-size: 1rem;
    box-shadow: 0px 4px 2px #8b897dc0;
    transition: 0.25s;
}


.filters{
    padding: 10px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 1/5;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter input, .filter select{
    max-width: 92px;
}

#recipes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #F7F3E3;
    color: var(--accent1-color);
}

.recipe{
    padding: 20px;
    max-width: 300px;
    border-bottom: 2px solid #8d978b;
}

.recipe h2{
    color: var(--accent2-color);
}

.recipe img{
    width: 100%;
}

.tags{
    display: flex;
    flex-flow: row wrap;
}

.tags h3{
    width: max-content;
    height: min-content;
    margin: 5px;
    padding: 10px;
    background-color: #600d0de3;
    border-radius: 10px;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

footer{
    background-color: var(--secondary-color);
    padding: 25px;
}

.logo-bottom{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bottom-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    gap: 10px;
}

.bottom-nav a{
    text-decoration: none;
    color: var(--primary-color);
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.social a> img{
    width: 60px;
}

footer h4{
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-size: 0.5rem;
    text-align: center;
}



/* Tools & Tips Page */

.bottom-border{
    border-bottom: 4px solid #0F1011;
}

#hero{
    display: grid;
    grid-template-columns: 1fr;
}

#hero img{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: -3px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

#hero h1{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 20px;
    margin-top: 10px;
}

#tools{
    padding: 50px 0px 103px 0px;
}

.slide{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: left;
    align-items: center;
    font-family: var(--paragraph-font);
    border: none;
}

.slide::before{
    content: "▼";
    padding: 10px;
}

.slide_active{
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    text-align: left;
    border: none;
    box-shadow: 0px 10px 6px -3.5px #909686;
}

.slide_active::before{
    content: "▲";
    padding: 10px;
}

.tool{
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column-reverse;
}

/* Tablet Change */

@media screen and (min-width: 768px) {
    #document img{
        width: 60%;
        margin: 0 auto;
    }

    header{
        display: flex;
        flex-direction: row;
    }

    .logo{
        width: 100px;
        padding-top: 30px;
        padding-bottom: 0px;
        margin-left: 30px;
        margin-right: auto;
    }

    nav{
        flex-direction: row;
        height: min-content;
        margin-top: 40px;
    }

    nav a{
        padding: 20px;
    }
    
    .filters{
        grid-column: 1/4;
        flex-direction: row;
        gap: 10%;
    }
    
    footer{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    .bottom-nav{
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }

    footer h4{
        grid-column: 1/4;
    }

    /* Tools $ Tips */

    #hero h1 {
        font-size: 350%;
    }

    .tool{
        flex-direction: row;
    }

    .tool p{
        padding-right: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .recipe{
        max-width: 273px;
    }

    main{
        margin: 0 auto;
        max-width: 1024px;
    }
    
    #hero h1 {
        font-size: 800%;
    }
}

.hidden{
    display: none;
}